.pr10{
  padding-right: 10px;
}
.pr20{
  padding-right: 20px;
}
.pr30{
  padding-right: 30px;
}
.min_w100{
  min-width: 100px;
}
.min_w100{
  min-width: 100px;
  display: inline-block;
}
.min_w200{
  min-width: 200px;
  display: inline-block;
}
.min_w260{
  min-width: 260px;
  display: inline-block;
}
.min_w300{
  min-width: 300px;
  display: inline-block;
}
.users{
  margin-top: 30px;
}
.user{
  padding: 10px 0;
  border-bottom: 1px solid #ddd;
}
.user:hover{
  background-color: #f5f5f5;
}
.user_unoffice{
  background-color: #f2dede;
}
.contact{
  margin-bottom: 0;
}

.avatar{
  float: left;
  width: 60px;
  height: 60px;
  margin-left: 30px;
  margin-right: 30px;
}
.avatar img{
  width: 100%;
}
.intro{
  float: left;
}
.employee_id em{
  font-style: normal;
}
.operation{
  float: right;
  margin-top: 13px;
  margin-right: 30px;
}